/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--main-font-weight), 'wdth' 100, 'opsz' 0;
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--background-image);
  background-size: 4px;
  background-repeat: repeat;
  background-attachment: fixed;
}

.header {
  inline-size: clamp(23.188rem, 30.516vw + 16.035rem, 43.5rem);
  block-size: clamp(20.188rem, 3.85vw + 19.285rem, 22.75rem);
  background-color: var(--background-color);
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  text-align: center;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  margin: 102px 0 104px;
  padding-block-start: clamp(7.5rem, 1.502vw + 7.148rem, 8.5rem);
  padding-block-end: 25px;
}

.header__logo {
  display: block;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-block-end: 20px;
}

.header__title {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding-block-end: 21px;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  padding-inline-start: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  inline-size: fit-content;
  gap: 10px;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 14px;
  border: 0;
  padding: 0 0 2px;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  block-size: 2px;
  inline-size: 0%;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  content: '';
  position: absolute;
  block-size: 2px;
  inline-size: 100%;
  background-color: var(--accent-color);
  bottom: 0;
  left: 0;
  transform: scaleX(1);
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  opacity: 0.6;
  animation: moving-arrow 0.5s ease-in-out infinite alternate;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--accent-color);
  inline-size: clamp(23.188rem, 30.516vw + 16.035rem, 43.5rem);
  border: 2px solid var(--accent-color);
}

.card__title {
  font-variation-settings: 'wght' var(--accent-font-weight);
  font-size: 18px;
  border-block-end: 2px solid var(--accent-color);
  padding: 4px 9px;
}

.card__image {
  inline-size: 100%;
  block-size: clamp(23.188rem, 30.516vw + 16.035rem, 43.5rem);
  object-fit: cover;
  object-position: 95% 0;
}

.card__text {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 1.25;
  border-block-start: 2px solid var(--accent-color);
  gap: 24px;
  padding: 25px 28px 0 23px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 4px;
  padding: 25px 23px 20px 26px;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
}

.button__save-icon {
  position: relative;
  z-index: 1;
  block-size: 21px;
  inline-size: 21px;
}

.card__like-button {
  position: relative;
  overflow: hidden;
  block-size: 37px;
  inline-size: 130px;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  padding: 8px 0;
}

.card__like-button::after {
  content: '';
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform .5s ease-in-out;
}

.card__like-button:hover {
  color: var(--background-color);
  transition: color 1s ease;
}

.card__like-button:hover::after {
  transform: translateX(0);
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.card__save-button {
  position: relative;
  overflow: hidden;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  padding: 12px 22px;
  margin: 49px 0;
}

.card__save-button::after {
  content: '';
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform .5s ease-in-out;
}

.card__save-button:hover::after {
  transform: translateX(0);
}

.card__save-button:hover {
  color: var(--background-color);
  transition: color 1s ease;
}

.card__save-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
  padding: 0 2px;
}

.card__icon-button:hover,
.card__like-button:hover,
.card__save-button:hover {
  cursor: pointer;
}

.card__icon-button:focus,
.card__like-button:focus,
.card__save-button:focus {
  outline: none;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font), 'Inter-Variable', sans-serif;
  }
}

@media (width <= 375px) {
  .card__save-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 17px 20px;
  }

  .button__save-icon {
    inline-size: 28px;
    block-size: 28px;
  }
}
