/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'PressStart2P', sans-serif;
    --main-font-weight: 400;
    --accent-font-weight: 700;
    --background-color: #FFF;
    --accent-color: #000;
    --background-image: url(../svg/pattern-light.svg);
    --heart-contour-color: #000;
    --heart-fill-color: #F00;
}
